.btn{
    border: $color-primary-dark 2px solid;  
    border-radius: 10px ;
    color: $color-primary-dark ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 19px;
}