.footer{
    // background-color: $color-primary-light;
    // height: 90vh;
    // border: 1px black solid;
    &__container__1{
        background-color: red;
        width: 100%;
        // height: 50%;
        height: 45vh;
    }
    &__container__2{
        width: 100%;
        height: 50%;
        display: flex;
        // align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: $color-primary-light;
        // background-color: transparent;
        padding: 20px 0;
        // border: 1px black solid;
        
        &-1,&-2{
            // border: 1px solid black;
            height:300px;
            width: 15%;
            ul{
                list-style: none;
                line-height: 30px;
                font-size: medium;
                
                // margin-left: 40px;
                :first-child{
                    font-weight: bold;
                }
                :not(:first-child){
                    color: #999999;
                }
            }
        }
        &-3{
            padding-top: 20px;
            margin: 0 50px;
            textarea{
                resize: none;
                background-color: transparent;
                border-radius: 10px;
                border: 1px solid #cac7c7;
                width: 120%;
                height: 50%;
                padding: 20px 25px;
                
            }
            button {
                border: none;
                background-color: $color-primary-dark;
                border-radius: 7px;
                padding: 11px;
                color: white;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                margin-left: 100px;
            }
        }
        &-4{
            padding-left: 90px;
            &--logobox{
      font-size: xx-large;
      height: 100%;
     text-align: center;
      font-weight: bold;
      color: $color-primary-dark;
    }
    &--tm{
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        padding: 7px;
        color: #000000;
    }
    &--social{
        text-align: center;
        img{
            padding: 7px;
        }
    }
        }
    }
    
}



.fourth{

    align-items: center;
    justify-content: center;
    
}
.hidden{
    display: none;
}